*.kdev4
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.cache
*.ipynb
.pytest_cache
_nrt
compile_commands.json
**/IPU_DC4P/*

_*/*
*out*/*
build/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/cmake-variants.yaml

doc/html
